footer.page-footer {
    margin: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #e0eaf3;
    color: black;
    display: block;
    width: 100%;
}

div.footer-content {
    margin: auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}