<div>
  <app-nav-bar></app-nav-bar>

  <div class="edit-btns" *ngIf="userCreator">
    <span class="row">
    <button (click)="deleteRecipe()" class="btn sm-btn btn-dark">
      Delete
    </button>
    <button routerLink='/recipe/update/{{recipe._id}}' class="btn sm-btn btn-light">
      Update
    </button>
  </span>
  </div>
  <div class="recipe">
    <div class="recipe-header-row">
      <div class="recipe-title-description">
        <h2>{{recipe.title}}</h2>
        <h6>Created by: {{creator.username}}</h6>
        <h6>Created on {{fixDate(recipe.createdAt)}}</h6>
        <h6>Updated on {{fixDate(recipe.updatedAt)}}</h6>

        <div class="recipe-ratings">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </div>

        <div class="recipe-description">
          "{{recipe.description}}"
        </div>

        <div class="category-tags">
          <app-category-tag *ngFor="let tag of recipe.tags" [category]="tag"></app-category-tag>
        </div>
      </div>

      <div class="recipe-image">
        <img src="{{recipe.image}}">
      </div>
    </div>

    <div class="recipe-ingredients-information-row">
        <div class="recipe-ingredients">
            <h2>Ingredients</h2>
            <ul class="recipe-ingredients-list"
                *ngFor="let ingredient of recipe.ingredients">
                <li>
                    {{ingredient}}
                </li>
            </ul>
        </div>

        <div class="recipe-information">
            <ul class="recipe-information-list">
                <li>
                    <h6>Prep Time: {{recipe.prepTime}} Min.</h6>
                </li>
                <li>
                    <h6>Cook Time: {{recipe.cookTime}} Min.</h6>
                </li>
                <li>
                    <h6>Number Servings: {{recipe.numServings}}</h6>
                </li>
            </ul>
        </div>
    </div>

    <div class="recipe-directions-row">
        <div class="recipe-directions">
          <h2>Directions</h2>
          <ol class="recipe-direction-list">
            <li *ngFor="let item of recipe.directions">
              {{item}}
            </li>
          </ol>
        </div>
    </div>

    <div class="recipe-reviews-row">
      <div class="recipe-reviews">
        <h2>Reviews</h2>

        <div class="recipe-review-input">
          <textarea rows="8"></textarea>
          <div class="submit-btn">
            <p (click)="submitReview()">Submit</p>
          </div>
        </div>

        <ul class="recipe-review-list">

            <li>
                <div class="recipe-review" routerLink="/recipe/placeholderRecipeId">
                    <div class="recipe-review-content">
                        <div class="review-heading">
                            <div class="user-ratings">
                                <div class="user">
                                    <div class="user-image">
                                        <img src="https://www.softpaws.com/template/images/landing_page/july_cat_image.jpg">
                                    </div>
                                    <h4>{{recipe.reviews[0].user.username}}</h4>
                                    <p>heres a review</p>
                                </div>

                                <div class="recipe-ratings">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                </div>
                            </div>

                            <h5>{{fixDate(recipe.reviews[0].updatedAt)}}</h5>
                        </div>
                        <p>{{recipe.reviews[0].text}}</p>
                    </div>
                </div>
            </li>

            <!--<li *ngFor="let review of recipe.reviews">
                <div class="recipe-review" routerLink="/recipe/placeholderRecipeId">
                    <div class="recipe-review-content">
                        <div class="review-heading">
                            <div class="user-ratings">
                                <div class="user">
                                    <div class="user-image">
                                        <img src="https://www.softpaws.com/template/images/landing_page/july_cat_image.jpg">
                                    </div>
                                    <h4>{{review.user.username}}</h4>
                                    <p>heres a review</p>
                                </div>

                                <div class="recipe-ratings">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                </div>
                            </div>

                            <h5>{{fixDate(review.updatedAt)}}</h5>
                        </div>
                        <p>{{review.text}}</p>
                    </div>
                </div>
            </li>-->

          <li *ngFor="let review of recipe.reviews">
              <app-recipe-review [reviewId]="review._id" [currPage]="'recipe'"></app-recipe-review>
              <app-recipe-review [reviewId]="'5b7a282bfb6fc066d4287dec'" [currPage]="'recipe'"></app-recipe-review>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>