div.recipe {
    width: 95%;
    background-color: white;
    border: 1px solid #e4e6e8;
}

div.recipe-header-row, div.recipe-ingredients-information-row, div.recipe-directions-row {
    margin: auto;
    width: 95%;
    padding: 40px 0;
    border-bottom: 2px solid #ecede9;
}

div.recipe-reviews-row {
    width: 95%;
    padding-bottom: 20px;
    margin: 30px auto 0 auto;
}

div.recipe-title-description {
    display: inline-block;
    width: 40%;
}

h2 {
    margin: auto auto 20px auto;
}

div.recipe-ratings {
    color: #59821e;
    margin: 20px auto;
}

div.recipe-description {
    text-align: left;
    margin: 20px 5%;
    background-color: #f7f7f7;
    padding: 20px;
}

div.recipe-image {
    display: inline-block;
    width: 40%;
    margin: auto 5%;
    vertical-align: top;
}

div.recipe-image>img {
    max-width: 100%;
}

div.recipe-directions, div.recipe-reviews {
    margin: auto;
    width: 80%;
}

div.recipe {
    margin: 40px auto;
    text-align: center;
}

ul.recipe-ingredients-list, ol.recipe-direction-list, ul.recipe-review-list,
ul.recipe-information-list {
    padding-left: 0;
    width: 100%;
}

ul.recipe-ingredients-list>li, ul.recipe-review-list>li, ul.recipe-review-list>li,
ul.recipe-information-list>li {
    margin: auto;
    list-style-type: none;
    padding: 0 0 15px 0;
}

ol.recipe-direction-list>li {
    margin: auto;
    list-style-position: inside;
    padding: 0 0 30px 0;
}

div.recipe-ingredients>h2, ul.recipe-ingredients-list>li, div.recipe-directions>h2,
ol.recipe-direction-list>li, div.recipe-reviews>h2, ul.recipe-review-list>li,
ul.recipe-information-list>li {
    text-align: left;
}

div.submit-btn {
    float: right;
    cursor: pointer;
    text-align: center;
    margin: 20px auto;
    background-color: #59821e;
    color: white;
    padding: 10px 20px;
}

div.submit-btn>p {
    margin-bottom: 0;
}

div.recipe-review-input {
    margin: auto auto 40px auto;
    padding-bottom: 75px;
}

div.recipe-review-input>textarea {
    width: 100%;
}

.edit-btns {
    margin-left: 50px;
}

div.recipe-ingredients  {
    display: inline-block;
    width: 60%;
    vertical-align: top;
}

div.recipe-information {
    display: inline-block;
    width: 20%;
    background-color: #f7f7f7;
    padding: 20px;
}

ul {
    margin-bottom: 0;
}