div.recipe {
    width: 95%;
    background-color: white;
    border: 1px solid #e4e6e8;
    padding: 40px 0;
}

div.recipe-header-row {
    margin: auto;
    width: 95%;
    padding-bottom: 40px;
    border-bottom: 2px solid #ecede9;
}

div.recipe-reviews-row {
    width: 95%;
    padding-bottom: 20px;
    margin: 30px auto 0 auto;
}

div.recipe-title-description {
    display: inline-block;
    width: 40%;
}

div.recipe-ingredients-nutrition-row {
    margin: 10px auto 0 auto;
}

div.recipe-directions-row {
    margin: 30px auto 0 auto;
}

div.recipe-ingredients, div.recipe-nutrition {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 30%;
    margin: auto 5%;
}

div.recipe-ratings {
    color: #59821e;
}

div.recipe-description {
    text-align: left;
    margin: auto 5%;
    vertical-align: top;
}

div.recipe-image {
    display: inline-block;
    width: 40%;
    margin: auto 5%;
    vertical-align: top;
}

div.recipe-image>img {
    max-width: 100%;
}

div.recipe-directions, div.recipe-reviews {
    margin: auto;
    width: 85%;
}

div.recipe {
    margin: 40px auto;
    text-align: center;
}

ul.recipe-ingredients-list, ul.recipe-nutrition-list, ol.recipe-direction-list, ul.recipe-review-list {
    padding-left: 0;
    width: 100%;
}

ul.recipe-ingredients-list>li, ul.recipe-nutrition-list>li, ul.recipe-review-list>li,
ul.recipe-review-list>li {
    margin: auto;
    list-style-type: none;
    padding: 0 0 15px 0;
}

ol.recipe-direction-list>li {
    margin: auto;
    list-style-position: inside;
    padding: 0 0 30px 0;
}

div.recipe-ingredients>h2, ul.recipe-ingredients-list>li, div.recipe-nutrition>h2,
ul.recipe-nutrition-list>li, div.recipe-directions>h2, ol.recipe-direction-list>li,
div.recipe-reviews>h2, ul.recipe-review-list>li {
    text-align: left;
}

div.submit-btn {
    float: right;
    cursor: pointer;
    text-align: center;
    margin: 20px 0;
    background-color: #59821e;
    color: white;
    padding: 0px 20px;
}

div.recipe-review-input {
    margin: auto auto 40px auto;
    padding-bottom: 75px;
}

div.recipe-review-input>textarea {
    width: 100%;
}