<div>
  <app-nav-bar></app-nav-bar>

  <div class="recipe">
    <div class="recipe-header-row">
      <div class="recipe-title-description">
        <h2>{{recipe.title}}</h2>
        <h4>{{creator.username}}</h4>
        <h5>Created on {{fixDate(recipe.createdAt)}}</h5>
        <h5>Updated on {{fixDate(recipe.updatedAt)}}</h5>

        <div class="recipe-ratings">
          <i class="fas fa-star"></i>

        </div>

        <div class="recipe-description">
          <h2>Description</h2>
          {{recipe.description}}
        </div>

        <div class="category-tags">
          <app-category-tag *ngFor="let tag of recipe.tags"
                            [category]="tag"></app-category-tag>
        </div>
      </div>

      <div class="recipe-image">
        <img src="{{recipe.image}}">
      </div>
    </div>

    <div class="">
      <div class="">
        <h2>Information</h2>
        <ul class="">
          <li>
            Prep Time: {{recipe.prepTime}} Minutes
          </li>
          <li>
            Cook Time: {{recipe.cookTime}} Minutes
          </li>
          <li>
           Number Servings: {{recipe.numServings}}
          </li>
        </ul>
      </div>
    </div>

    <div class="">
      <div class="">
        <h2>Ingredients</h2>
        <ul class=""
            *ngFor="let ingredient of recipe.ingredients">
          <li>
            {{ingredient}}
          </li>
        </ul>
      </div>
    </div>

    <div class="">
      <h2>Directions</h2>
      <ol class="">
        <li class=" webdev"
            *ngFor="let item of recipe.directions">
          {{item}}
        </li>
      </ol>
    </div>

    <div class="recipe-reviews-row">
      <div class="recipe-reviews">
        <h2>Reviews</h2>

        <div class="recipe-review-input">
          <textarea rows="8"></textarea>
          <div class="submit-btn">
            <p (click)="submit()">Submit</p>
          </div>
        </div>

        <ul class="recipe-review-list">
          <li><app-recipe-review [currPage]="'recipe'"></app-recipe-review></li>
          <li><app-recipe-review [currPage]="'recipe'"></app-recipe-review></li>
          <li><app-recipe-review [currPage]="'recipe'"></app-recipe-review></li>
        </ul>
      </div>
    </div>
  </div>
</div>