<div>
    <app-nav-bar></app-nav-bar>

    <div class="home-page-tip">
        <p>Did you know?...</p>
    </div>

    <div class="featured-recipes">
        <app-recipe-preview></app-recipe-preview>
        <app-recipe-preview></app-recipe-preview>
        <app-recipe-preview></app-recipe-preview>
    </div>

    <footer class="home-page-footer">
        <div class="footer-content">
            CS4550 Final Project by Brenda Lau, Melina Sayegh, & Yoni Smolyar
        </div>
    </footer>
</div>