<div>
    <app-nav-bar [currPage]="'home'"></app-nav-bar>

    <div class="home-page-tip">
        <p>Did you know?...</p>
    </div>

    <div class="featured-recipes">
        <h3>Featured Recipes</h3>
        <ul class="featured-recipes-list">
            <li><app-recipe-preview></app-recipe-preview></li>
            <li><app-recipe-preview></app-recipe-preview></li>
            <li><app-recipe-preview></app-recipe-preview></li>
        </ul>
    </div>

    <app-page-footer></app-page-footer>
</div>