<app-nav-bar></app-nav-bar>

<div class="container-fluid">
    <div class="alert" *ngIf="!isValidAdmin">
        This page is reserved for users with Administrator privileges.
    </div>

    <div *ngIf="isValidAdmin">
        <div>
            <h1>Admin</h1>

            <ul class="nav nav-tabs row">
                <li>
                    <a class="nav-link" routerLink="/admin/recipe">
                        Recipes
                    </a>
                </li>
                <li class="nav-item webdev">
                    <a class="nav-link active" routerLink="/admin/user">
                        Users
                    </a>
                </li>
            </ul>

            <br/>

            <h2>Users</h2>
        </div>

        <div class="row">
            <div class="col-5">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a routerLink="/admin/user/new"
                           class="btn btn-outline-success btn-block">Create New User</a>
                    </li>
                    <li *ngFor="let user of allUsers"
                        class="list-group-item">
                        <b>First Name: </b>{{user.firstName}}
                        <br/>
                        <b>Last Name: </b>{{user.lastName}}
                        <br/>
                        <b>Username: </b>{{user.username}}
                        <br/>
                        <a routerLink="/admin/user/{{user._id}}"
                           class="btn btn-outline-secondary float-right">Edit User</a>
                    </li>
                </ul>
            </div>
            <div class="col-7">
                <app-admin-user *ngIf="selectedUsername !== ''"></app-admin-user>
                <app-admin-create-user *ngIf="selectedUsername !== ''"></app-admin-create-user>
            </div>
        </div>
    </div>
</div>
