<app-nav-bar></app-nav-bar>

<div class="container-fluid">
  <div>
    <h1>Admin</h1>
    <a href="/admin/recipe">Recipes</a> |
    <a href="/admin/user">Users</a>
    <h2>Users</h2>

  </div>

  <div class="row">
      <div class="col-5">
      <ul class="list-group">
          <li *ngFor="let user of allUsers"
            class="list-group-item">
          {{user.firstName}} {{user.lastName}} {{user.username}}
          <br/>
          <a routerLink="/admin/user/{{user._id}}"
             class="btn btn-outline-secondary float-right">Edit User</a>
        </li>
      </ul>
    </div>
    <div class="col-7">
      <app-admin-user *ngIf="selectedUsername !== ''"></app-admin-user>
    </div>
  </div>
</div>
