<app-nav-bar></app-nav-bar>

<div class="container-fluid">
  <div>
    <h1>Admin</h1>
    <br>
    <h2>Recipes</h2>

  </div>

  <div class="row">
    <div class="col-5">
      <ul class="list-group">
        <li *ngFor="let recipe of allRecipes"
            class="list-group-item">
          {{recipe.title}}
          <br/>
          <button class="btn btn-outline-danger float-right delBtn">Delete</button>
          <a routerLink="/admin/recipe/{{recipe._id}}"
             class="btn btn-outline-secondary float-right">Edit Recipe</a>
        </li>
      </ul>
    </div>
    <div class="col-7">

    </div>
  </div>
</div>
