<app-nav-bar></app-nav-bar>

<div class="container-fluid">
  <div class="alert" *ngIf="!isAdmin">
    This page is reserved for users with Administrator privileges.
  </div>

  <div class="row"
       *ngIf="isAdmin">
    <div class="col-sm-5">


      <div>
        <h1>Admin</h1>
        <a href="/admin/recipe">Recipes</a> |
        <a href="/admin/user">Users</a>
        <h2>Recipes</h2>
      </div>


      <ul class="list-group">
        <li *ngFor="let recipe of allRecipes"
            ngClass=""
            class="list-group-item">
          {{recipe.title}}
          <br/>
          <a routerLink="/admin/recipe/{{recipe._id}}"
             class="btn btn-outline-secondary float-right">Edit Recipe</a>
        </li>
      </ul>
    </div>
    <div class="col-7">
      <app-recipe-creator *ngIf="recipeTitle !== ''"></app-recipe-creator>
    </div>
  </div>
</div>