.delBtn {
    margin-left: 5px;
}

.admin-nav {
    border-color: #F5F5F5;
    border: 2px;
}

.container-fluid {
    margin: 15px;
    padding-right: 30px;
}

.list-div {
    padding-bottom: 20px;
    padding-right: 20px;
}