<header class="home-page-header">
  <h2 routerLink="/home">CommunityCookings</h2>
  <div class="search-div">
    <div class="categories-btn" (click)="categoryDropDown = !categoryDropDown">
      <p>Categories</p>
    </div>
    <input id="searchFld" placeholder="Search for a recipe">
    <i class="fa fa-search"></i>
  </div>

  <div class="register-login-div" [ngClass]="{'hide': (isNotCurrentPage('home') && isNotCurrentPage('results')) && isNotCurrentPage('recipe')}">
    <h4 routerLink="/register">Sign Up</h4>
    <h4 routerLink="/login">Sign In</h4>
  </div>

  <div class="register-div" [ngClass]="{'hide': isNotCurrentPage('login')}">
    <h4 routerLink="/register">Sign Up</h4>
  </div>

  <div class="login-div" [ngClass]="{'hide': isNotCurrentPage('register')}">
    <h4 routerLink="/login">Sign In</h4>
  </div>

  <div class="logout-div" [ngClass]="{'hide': isNotCurrentPage('profile')}">
    <h4 routerLink="/home">Log out</h4>
  </div>

  <!--<div class="category-drop-down" [ngClass]="{'hide': !categoryDropDown}">-->
    <!--<div class="category-row">-->
      <!--<div class="category">-->
     <!--<h4>Meal Type</h4>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</header>
