
<div class="recipe-review" routerLink="/recipe/{{review.recipe._id}}">
  <div class="recipe-review-content">
    <div class="review-heading">
      <div class="user-ratings">
        <div class="user" [ngClass]="{'hide' : isNotCurrentPage('recipe')}">
          <div class="user-image">
            <img src="https://www.softpaws.com/template/images/landing_page/july_cat_image.jpg">
          </div>
          <h4>{{review.user.username}}</h4>
          <p>heres a review</p>
        </div>

        <div class="recipe-title" [ngClass]="{'hide' : isNotCurrentPage('profile')}">
          <div class="recipe-image">
            <img src="{{review.recipe.image}}">
          </div>
          <h4>{{review.recipe.title}}</h4>
        </div>
      <h5>{{fixDate(review.updatedAt)}}</h5>
    </div>
      <p>{{review.text}}</p>
  </div>
</div>
