div.recipe-preview {
    border: 1px solid #e4e6e8;
    display: inline-block;
    margin: 15px;
    cursor: pointer;
    text-align: left;
    vertical-align: top;
}

div.recipe-preview-content {
    display: block;
}

div.recipe-image {
    height: 250px;
    width: 250px;
    overflow: hidden;
}

div.recipe-image>img {
    width: 100%;
    min-height: 100%;
}

div.recipe-description {
    width: 220px;
    height: 130px;
    text-align: left;
    word-wrap: break-word;
    padding: 15px;
    background-color: white;
}

div.recipe-description>h5 {
    margin: 0 auto 0 0;
    max-height: 1.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div.recipe-description>p {
    margin: 10px 0 10px 0;
}

div.category-tags {
    display: block;
    margin-top: 10px;
}

div.recipe-ratings {
    margin: 5px auto auto auto;
    color: #59821e;
}
