<div>
  <app-nav-bar></app-nav-bar>
  <aside class="profile-nav-bar">

    <div class="profile-bio">
      <i class="far fa-check-circle" [ngClass]="{'hide' : !(profileUser.isChef)}"></i>
      <h4>{{profileUser.username}}</h4>
    </div>

    <button (click)="addFriend(profileUser)"
            class="btn custom-button add-friend-btn"
            id="add-friend-btn"
            type="button"
            [ngClass]="{'hide' : isOwnProfile || isFriend || (currUser === undefined)}">
      Add Friend
    </button>

    <button (click)="unfriend(profileUser)"
            class="btn custom-button unfriend-btn"
            id="unfriend-btn"
            type="button"
            [ngClass]="{'hide' : isOwnProfile || !isFriend}">
      Unfriend
    </button>

    <ul class="profile-tabs-list">
      <li [ngClass]="{'active': selectedTab == 'Friends'}"
          (click)="selectTab('Friends')">
        Friends
      </li>
      <li [ngClass]="{'active': selectedTab == 'My Recipes', 'hide' : !(profileUser.isChef)}"
          (click)="selectTab('My Recipes')">
        My Recipes
      </li>
      <li [ngClass]="{'active': selectedTab == 'Favorites'}"
          (click)="selectTab('Favorites')">
        Favorites
      </li>
      <li [ngClass]="{'active': selectedTab == 'Reviews'}"
          (click)="selectTab('Reviews')">
        Reviews
      </li>
      <li [ngClass]="{'active': selectedTab == 'Settings', 'hide' : !isOwnProfile}"
          (click)="selectTab('Settings')">
        Settings
      </li>
    </ul>
  </aside>

  <div class="settings-view" *ngIf="selectedTab === 'Settings'">
    <app-profile-settings></app-profile-settings>
  </div>

  <div class="friends-view" *ngIf="selectedTab === 'Friends'">
    <ul class="friends-list">
      <li *ngFor="let friend of profileUser.friends">
        <app-friend-preview [user]="friend"></app-friend-preview>
      </li>
    </ul>
  </div>

  <div class="my-recipes-view" *ngIf="selectedTab === 'My Recipes'">
    <ul class="my-recipes-list">
      <li>
        <div class="create-recipe" routerLink="/recipe/create/new"
             [ngClass]="{'hide' : !isOwnProfile && !(profileUser.isChef)}">
          <div class="create-recipe-content">
            <i class="fa fa-plus"></i>
            <h3>Create a new recipe</h3>
          </div>
        </div>
      </li>
      <li><app-recipe-preview *ngFor="let recipe of myRecipes" [recipeId]="recipe._id"></app-recipe-preview></li>
    </ul>
  </div>

  <div class="favorites-view" *ngIf="selectedTab === 'Favorites'">
    <ul class="favorites-list">
      <li><app-recipe-preview *ngFor="let recipe of faveRecipes" [recipeId]="recipe._id"></app-recipe-preview></li>
    </ul>
  </div>

  <div class="reviews-view" *ngIf="selectedTab === 'Reviews'">
    <ul class="recipe-review-list review-item">
      <li *ngFor="let review of profileUser.reviews" class="review-list-item" routerLink="/recipe/{{review.recipe._id}}">
        <div class="recipe-review">
          <div class="recipe-review-content">
            <div class="review-heading">
              <div class="user-ratings">
                <div class="recipe-title">
                  <h5>{{review.recipe.title}}</h5>
                  <p>{{fixDate(review.updatedAt)}}</p>
                </div>
                <h4>{{review.text}}</h4>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

