<div class="recipe-preview" routerLink="/recipe/external/{{recipe.id}}">

  <div class="recipe-preview-content">
    <div class="recipe-image">
      <img src={{recipe.image}}>
    </div>

    <div class="recipe-description">
      <h5>{{recipe.title}}</h5>

      <div class="category-tags row col-10 centered">
        <app-category-tag *ngIf="recipe.vegetarian" [category]="'VEGETARIAN'"></app-category-tag>
        <app-category-tag *ngIf="recipe.vegan" [category]="'VEGETARIAN'"></app-category-tag>
        <app-category-tag *ngIf="recipe.dairyFree" [category]="'DAIRY FREE'"></app-category-tag>
        <app-category-tag *ngIf="recipe.veryHealthy" [category]="'VERY HEALTHY'"></app-category-tag>
        <app-category-tag *ngIf="recipe.sustainable" [category]="'SUSTAINABLE'"></app-category-tag>
        <app-category-tag *ngIf="recipe.ketogenic" [category]="'KETOGENIC'"></app-category-tag>
      </div>
    </div>
  </div>
</div>