<div class="recipe-preview" routerLink="/recipe/external/{{recipe.id}}">

  <div class="recipe-preview-content">
    <div class="recipe-image">
      <img *ngIf="recipe.image !== ''" src={{recipe.image}}>
      <img *ngIf="recipe.image === ''"
           src="http://4.bp.blogspot.com/-1PPIpuTPnPY/UCudijf1DPI/AAAAAAAABgY/Ohzq0co9uyk/s1600/generic.jpg">
    </div>

    <div class="recipe-description">
      <h5>{{recipe.title}}</h5>

      <div class="category-tags">
        <app-category-tag *ngIf="recipe.vegetarian" [category]="'VEGETARIAN'"></app-category-tag>
        <app-category-tag *ngIf="recipe.vegan" [category]="'VEGETARIAN'"></app-category-tag>
        <app-category-tag *ngIf="recipe.dairyFree" [category]="'DAIRY FREE'"></app-category-tag>
        <app-category-tag *ngIf="recipe.veryHealthy" [category]="'VERY HEALTHY'"></app-category-tag>
        <app-category-tag *ngIf="recipe.sustainable" [category]="'SUSTAINABLE'"></app-category-tag>
        <app-category-tag *ngIf="recipe.ketogenic" [category]="'KETOGENIC'"></app-category-tag>
      </div>
    </div>
  </div>
</div>