<div>
  <app-nav-bar currPage="login"></app-nav-bar>

  <div class="container">
    <h1>Sign In</h1>

    <div class="alert"
         [ngClass]="{'hide': !usernameAlert}">
      Username does not exist
    </div>

    <div class="alert"
         [ngClass]="{'hide': !fieldsAlert}">
      Both fields are required to sign in
    </div>

    <form>
      <div class="form-group">
        <label for="usernameFld">Username</label>
        <input [(ngModel)]="username"
               name="username"
               id="usernameFld">
      </div>
      <div class="form-group">
        <label for="passwordFld">Password</label>
        <input [(ngModel)]="password"
               name="password"
               type="password"
               id="passwordFld">
      </div>
      <div class="login-btn">
        <p (click)="login(username, password)">Sign In</p>
      </div>
    </form>
  </div>

  <app-page-footer></app-page-footer>
</div>