.alert {
    padding: 10px 10px 10px 10px;
    border-radius: 2px;
    background-color: #d3d6cd;
    border: 1px solid transparent;
    color: black;
    position: relative;
    margin-bottom: 1rem;
}

div.alert.hide {
    display: none;
}

.container {
    justify-content: center;
    display: flex;
}

.control-label {
    padding-top: 8px;
}

.loginBtn {
    background: #59821e;
    color: white;
}

.no-account {
    padding-top: 40px;
}
